
#content-container {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

/* navbar */
@media (max-width: 575px) {
    li.nav-item {
        border-bottom: 1px solid white;
        background-color: #3f454b;
        border-radius: 10px 10px 10px 10px;
    }

    li.nav-item:last-child {
        border-bottom: 2px solid white;
    }

    ul.navbar-nav {
        background-color: rgba(255, 0, 0, 0) !important;
    }
}

/* responsywność */
@media (max-width: 420px) {
    footer {
        font-size: .8rem;
    }
}